
<h1>Roles List</h1>
<div id="roles">
  <% @roles.each do |role| %>
    <%= render role %>
    <p>
      <%= link_to "View Role", role %>
    </p>
  <% end %>
</div>

<%= link_to "New role", new_role_path %>